body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 42, 42);
  color: white;
  font-family: 'Segoe UI', sans-serif;
  transition: background-color 0.5s ease;
}

.clock {
  text-align: center;
  font-size: 40px;
}

.date {
  font-size: 20px;
  margin-top: 0.5px;
  opacity: 0.8;
}